<h1>ログイン</h1>
<hr>
<% if @message!=nil %>
<%= @message %>
<% end %>

<div align="center">
  <table border="0">
    <%= form_tag(action: :login, method: :post) do %>
      <tr>
        <th>ID</th>
        <td><%= text_field_tag(:user_id,@user_id) %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= password_field_tag(:password,@password) %></td>
      </tr>
      <tr>
        <td colspan="2"  align="center">
          <%= submit_tag "ログイン" %>
        </td>
      </tr>
      <tr>
        <td colspan="2"  align="center">
          <p>※ID,パスワードを忘れた方は管理者へご連絡ください。</p>
        </td>
      </tr>
    <% end %>
  </table>
</div>
